@using System.Web.Optimization
@Styles.Render("~/Style/General")

<html>
    <head>
        <title>@ViewBag.Title </title>
    </head>
    <body>
        <header>
            <h1>ToDo list</h1>
        </header>
        <div id="container">
            <div class="left-side">
                Menu
            </div>
            <div class="center">
                @RenderBody()
            </div>
        </div>
        <footer>
               &copy; Max @DateTime.Now.Year
        </footer>
    </body>
</html>